html {
  display: block;
  background-color: #787575;
  margin-top:auto;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:auto;
}

section {
  text-align: center;
  margin-top: 1em;
}

div {
  text-align: center;
  margin-top: 3em;
  margin-bottom: 3em;
}

h1 {
  text-align: center;
}

.popular {
  margin-top: -3em;
}

.title {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  margin-top: 3em;
}
